{% extends "my_blogs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>Edit entry:</h2>
{% endblock header %}

{% block content %}
    <small><a href="{% url 'my_blogs:topic' topic.id %}">{{ topic }}</a> </small>
    <form action="{% url 'my_blogs:edit_entry' entry.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">save changes</button>
        {% endbuttons %}
    </form>

{% endblock content %}}